.header{
    background: #001F3F;
    width: 1440px;
    height: 968px;
}
h1 {
    width: 764px;
height: 103px;
top: 218px;
left: 70px;
gap: 0px;
opacity: 0px;

}

h6{
    width: 777px;
height: 44px;
top: 311.34px;
left: 70px;
gap: 0px;
opacity: 0px;

}
.search-bar {
    width: 816px;
height: 128px;
top: 403px;
left: 72px;
gap: 0px;
opacity: 0px;
border-radius: 50px;

}